/* || GLOBAL VARIABLES */
:root {
  /* raw */
  --clr-grayish-blue: hsl(220, 14%, 75%);
  --clr-light-grayish-blue: hsl(223, 64%, 98%);
  --clr-black: hsl(0, 0%, 0%); /* (with 75% opacity for lightbox background) */

  --size-8: 0.5rem;
  --size-16: 1rem;
  --size-20: 1.25rem;
  --size-22: 1.375rem;
  --size-24: 1.5rem;
  --size-56: 3.5rem;

  /* semantic */
  --clr-bg: hsl(0, 0%, 100%);

  --clr-fg: hsl(220, 13%, 13%);
  --clr-fg-muted: hsl(219, 9%, 45%);

  --clr-btn-bg: hsl(26, 100%, 55%);
  --clr-btn-bg-hover: hsl(25, 100%, 94%);

  --clr-btn-round-bg: hsl(0, 0%, 100%);

  --clr-nav-bg: hsl(0, 0%, 100%);

  --clr-badge-bg: hsl(0, 0%, 0%);
  --clr-badge-fg: hsl(0, 0%, 100%);

  --clr-qty-bg: hsl(223, 64%, 98%);

  --clr-nav-overlay: rgb(0 0 0 /0.75);

  /* TODO: fluid typography (see utopia.fyi) */
  --body-text: 1rem;
}

/* || UTILITY CLASSES */
.nav-open {
  overflow: hidden; /* to disable scrolling on background */
}

/* || CSS RESETS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font: inherit;
  border: 0;
  background: transparent;
  padding: 0;
}

ul[role="list"] {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

body {
  min-height: 100svh;
  line-height: 1.5;

  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "YOPQ" 300;
}

/* || NAVIGATION LAYOUT */
.main-header {
  display: flex;
  justify-content: space-between;
  gap: var(--size-16);
  padding: var(--size-24);
}

.primary-nav[hidden] {
  display: none;
}

.primary-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: min(250px, 70vw);
  height: 100%;
  background: var(--clr-nav-bg);

  padding: var(--size-24);

  display: flex;
  flex-direction: column;
  gap: var(--size-56);

  z-index: 1;
}

.primary-nav ul {
  display: flex;
  flex-direction: column;
  gap: var(--size-24);
}

.primary-nav a {
  font-weight: 700;
  font-size: 1.125rem;
}

.nav-overlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-nav-overlay);
  z-index: 0;
}

.open-nav-btn {
  order: 0;
}

.logo {
  flex: 1;
  order: 1;
}

.cart-btn {
  order: 2;
}

.avatar-btn {
  order: 3;
  width: 24px;
}

/* || IMAGE CAROUSEL */
.image-carousel {
  display: flex;

  overflow-x: hidden;
  scroll-snap-type: x mandatory;

  anchor-name: --image-carousel;
}

.image-carousel::scroll-button(*) {
  width: 40px;
  height: 40px;

  border: 0;
  padding: 12px;
  border-radius: 50%;
  background-color: var(--clr-btn-round-bg);

  cursor: pointer;

  position: absolute;
  position-anchor: --image-carousel;
  top: anchor(start);
  bottom: anchor(end);
  margin-block: auto;
}

.image-carousel::scroll-button(*):active {
  -webkit-tap-highlight-color: transparent;
}

.image-carousel::scroll-button(*):disabled {
  opacity: 0.5;
}

.image-carousel::scroll-button(left) {
  content: url(images/icon-previous.svg) / "Previous";
  left: 16px;
}

.image-carousel::scroll-button(right) {
  content: url(images/icon-next.svg) / "Next";
  right: 16px;
}

.image-carousel li {
  flex: 0 0 100%;
  scroll-snap-align: center;
}

.image-carousel img {
  max-height: 300px;
  object-fit: cover;
}

/* || CONTENT */
.content-wrapper {
  margin: var(--size-24);
}

.content-wrapper span {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--clr-fg-muted);
  letter-spacing: 2px;
  margin-block-end: -12px;
}

.content-wrapper h1 {
  line-height: 1.2;
  font-size: 1.75rem;
  margin-block-start: 0.325em;
}

.content-wrapper p {
  margin-block-start: 1.25em;
  color: var(--clr-fg-muted);
}

.price-wrapper {
  margin-inline: 24px;
  margin-block-start: 16px;

  display: flex;
  justify-content: center;
  gap: var(--size-16);
  align-items: center;
}

.discounted-price {
  font-weight: 700;
  font-size: 1.75rem;
}

.discount-rate {
  padding: 2px 8px;
  background-color: var(--clr-badge-bg);
  color: var(--clr-badge-fg);
  border-radius: 4px;
}

.original-price {
  flex: 1;
  text-decoration: line-through;
  font-weight: 700;
  color: var(--clr-fg-muted);
  text-align: end;
}

.quantity-wrapper {
  margin-inline: 24px;
  margin-block-start: 16px;
  padding: 16px 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-qty-bg);

  border-radius: 10px;
}

.quantity {
  flex: 1;
  text-align: center;
}

.add-to-cart-btn {
  margin-inline: auto;
  margin-block-start: 16px;

  padding: 16px 20px;

  width: calc(100% - 48px);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  background-color: var(--clr-btn-bg);

  border-radius: 10px;

  font-weight: 700;
}

.add-to-cart-btn img {
  filter: brightness(0);
}
